.bottom-cta {
	// background: linear-gradient(to bottom, $brand-color 0%, $middle-gradient-color);
	background: white;
	color: black;
	text-align: center;
	margin: 0;
	padding:  10px 0;

	h2 {
		margin-bottom: 0px;
	}
}

.testimonial {
	background: white;
	// background: #727272;
	margin: 0;
	padding:  10px 0;

	.testimonial-block {
		max-width: 750px;
		width: 98%;
		margin: 0 auto;

		@media #{$tablet} {
			@include flexbox;

			blockquote {
				-webkit-flex: 1;
				flex: 1;
			}
		}
	}
}

.hero {
	color: black;
	text-align: center;
	background: white;
	// height: 100%;
	// min-height: 1000px;
	// background: linear-gradient(to bottom, $middle-gradient-color 0%, $secondary-brand-color 100%) no-repeat #acacac;
	padding:  60px 0px;

	p {
		color: black;
	}
}


@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}
