.nav-open nav {
	border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
	padding: 10px 0;
	#open-nav{
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}

	a {
		margin: 5px 10px;
		display: block;
	}

	@media #{$mid-point} {
		border: 0;
		padding: 0 20px;

		a {
			display: inline;
		}
	}
}

nav {
	text-transform: uppercase;
	font-size: 15px;
	width: 100%;
	transition: all .5s ease;
	margin: 0px;
	top: 15px;
	border-bottom: none;
	letter-spacing: 1.2px;
	font-weight: 650;

	#open-nav{
		text-align: center;
		width: 40px;
		height: 40px;
		padding: 0px;
		margin-right: 40px;
		margin-top: 10px;
	}

	@media #{$mid-point} {
		text-align: right;
		position: absolute;
		right: 0;
		padding: 0 20px;
		margin: 15px;
	}


	a {
		margin: 0px 10px;
		padding: 20px 10px;
		border-bottom: 1px solid rgba(255,255,255,0);
		color: rgba(255,255,255,.8);
		transition: .2s ease-in-out;
		display: none;

		@media #{$mid-point} {
			display: inline;
			padding: 10px;
		}


		&.nav-toggle {
			display: inline;
			position: absolute;
			right: 10px;
			top: 10px;
			font-size: 1.9em;
			border: 0;

			@media #{$mid-point} {
				display: none;
			}

			&:hover {
				border: 0;
			}
		}
	}

	a:hover {
		background-color: rgba(255, 255, 255, 0.2);
		color: #fff;
		padding-bottom: 25px;
	}

	@media #{$mid-point} {
		a.highlight {
			border: 1px #ccc solid;
			border-radius: 5px;

			&:hover {
				background: #fff;
				color: $brand-color;
			}
		}
	}
	
	a.active {
		color: black;
		background: #fff;
		padding-bottom: 25px;
	}
}
	
#navbar {
	background-color: #000000;
	z-index: 1;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0px;
	padding: 10px;
	margin-bottom: 0;
	border-bottom: 0px solid rgba(0, 0, 0, 0.4);
}